<h3> @ViewBag.Message</h3>
<h3>Dine Regelsæt</h3>
@{
    foreach (UnikBolig.Models.EstateRulesetModel item in ViewBag.Rulesets)
    {
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body row">
                        <p>Regelsæt navn: @item.Name</p>
                        <p>Er det tilladt at have hunde: @item.Dog</p>
                        <p>Er det tilladt at have katte: @item.Cat</p>
                        <p>Er det tilladt at have krybdyr: @item.Creep</p>
                        <p>Er det tilladt at have fisk: @item.Fish</p>
                    </div>
                </div>
            </div>
        </div>



    }

    <h3>Dine boliger</h3>
    foreach (UnikBolig.Models.EstateModel item in ViewBag.Estates)
    {
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-active"> 
                            <p>Bolig ejerens navn: @item.Name</p>
                            <p> @item.Description </p>
                            <p>@item.Size m2</p>
                            <p>@item.StreetName</p>
                            <p>@item.HouseNumber</p>
                            <p>@item.Postal</p>
                            <a href="/landlord/qualifiers/@item.ID"> <button class="btn btn-primary"> Check Ansøgere </button> </a>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    }

}